absl-py==2.1.0
alabaster==0.7.16
astunparse==1.6.3
Babel==2.15.0
-e git+https://github.com/Recitasse/Onche.git@2b589f42425f7980fdb23716261db3ae8da37a75#egg=BabelOnche&subdirectory=bin/WebAPP
beautifulsoup4==4.12.3
blinker==1.8.2
bs4==0.0.2
build==1.2.1
-e git+https://github.com/Recitasse/Onche.git@2b589f42425f7980fdb23716261db3ae8da37a75#egg=Cassandre&subdirectory=Abacus/Cassandre
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
-e git+https://github.com/Recitasse/Onche.git@2b589f42425f7980fdb23716261db3ae8da37a75#egg=Communautees&subdirectory=Abacus/Communautees
contourpy==1.2.1
cycler==0.12.1
docutils==0.21.2
Flask==3.0.3
flatbuffers==24.3.25
fonttools==4.53.0
gast==0.5.4
google-pasta==0.2.0
grpcio==1.64.1
h5py==3.11.0
idna==3.7
imagesize==1.4.1
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
keras==3.3.3
kiwisolver==1.4.5
libclang==18.1.1
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.0
mdurl==0.1.2
-e git+https://github.com/Recitasse/Onche.git@2b589f42425f7980fdb23716261db3ae8da37a75#egg=Mimos&subdirectory=Abacus/Mimos
ml-dtypes==0.3.2
mysql-connector==2.2.9
mysql-connector-python==8.3.0
namex==0.0.8
networkx==3.3
nltk==3.8.1
numpy==1.26.4
-e git+https://github.com/Recitasse/Onche.git@2b589f42425f7980fdb23716261db3ae8da37a75#egg=OncheDatabase&subdirectory=bin/database
-e git+https://github.com/Recitasse/Onche.git@2b589f42425f7980fdb23716261db3ae8da37a75#egg=OncheQueryGenerator&subdirectory=bin/OncheQueryGenerator
opt-einsum==3.3.0
optree==0.11.0
packaging==24.1
pillow==10.3.0
prettyTables==1.1.5
-e git+https://github.com/Recitasse/Onche.git@2b589f42425f7980fdb23716261db3ae8da37a75#egg=Profileur&subdirectory=Abacus/Profileur
protobuf==4.25.3
Pygments==2.18.0
pyparsing==3.1.2
pyproject_hooks==1.1.0
python-dateutil==2.9.0.post0
python-louvain==0.16
regex==2024.5.15
requests==2.32.3
rich==13.7.1
-e git+https://github.com/Recitasse/Onche.git@2b589f42425f7980fdb23716261db3ae8da37a75#egg=Sarapis&subdirectory=Abacus/Sarapis
-e git+https://github.com/Recitasse/Onche.git@2b589f42425f7980fdb23716261db3ae8da37a75#egg=Scrapper&subdirectory=bin/WebScrapper
setuptools==70.0.0
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.5
Sphinx==7.3.7
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
termcolor==2.4.0
tornado==6.4.1
tqdm==4.66.4
typing_extensions==4.12.2
urllib3==2.2.1
Werkzeug==3.0.3
wheel==0.43.0
wrapt==1.16.0
